


<div class="text-center"><h1>Students Registered</h1></div>


{% if all_students %}

<ul>
    {% for student in all_students %}
    <li><a href="/list/{{ student.id }}">{{ student.first_name }} {{ student.last_name }} ({{ student.course }})</a>

                    <p><a class="btn btn-lg btn-success" href="{% url "delete" pk=student.id %}"role="button">Delete</a>
                <a class="btn btn-lg btn-success" href="{% url "update" pk=student.id %}" role="button">Update</a>

            </p>


    {% endfor%}
</ul>

    <div class="container">

{% comment %}
    This code below is our counter on how many students have been registered
{% endcomment %}
     <h4>Number of students added: {{ all_students.count }}  </h4>
</div>
     <a href="/"> Go back to home and register a student! </a>

{% else %}
<h3>All students are absent</h3>
    <a href="/"> Go back to home and register a student! </a>

{% endif %}